.sprites { background: url(sprites.png) no-repeat; }
.QQ-16 { width: 16px; height: 16px; background-position: -178px 0; }
.QQ-32 { width: 32px; height: 32px; background-position: 0 0; }
.add-16 { width: 16px; height: 16px; background-position: -179px -17px; }
.add-32 { width: 32px; height: 32px; background-position: -79px 0; }
.del-1-16 { width: 16px; height: 16px; background-position: -162px -33px; }
.del-1-32 { width: 32px; height: 32px; background-position: -112px 0; }
.del-3-16 { width: 16px; height: 16px; background-position: -179px -34px; }
.del-3-32 { width: 32px; height: 32px; background-position: -145px 0; }
.del-5-16 { width: 16px; height: 16px; background-position: -162px -50px; }
.del-5-32 { width: 32px; height: 32px; background-position: -129px -33px; }
.del-7-16 { width: 16px; height: 16px; background-position: -179px -51px; }
.del-7-32 { width: 32px; height: 32px; background-position: -163px -68px; }
.double-arrows-16 { width: 16px; height: 16px; background-position: -129px -66px; }
.double-arrows-32 { width: 32px; height: 32px; background-position: -129px -101px; }
.down-arrow-16 { width: 16px; height: 16px; background-position: -146px -67px; }
.down-arrow-32 { width: 32px; height: 32px; background-position: -162px -101px; }
.heart-16 { width: 16px; height: 16px; background-position: -129px -83px; }
.heart-32 { width: 32px; height: 32px; background-position: -129px -134px; }
.home-16 { width: 16px; height: 16px; background-position: -146px -84px; }
.home-32 { width: 32px; height: 32px; background-position: -162px -134px; }
.hook { width: 128px; height: 128px; background-position: 0 -33px; }
.menu-16 { width: 16px; height: 16px; background-position: -99px -162px; }
.menu-32 { width: 32px; height: 32px; background-position: 0 -162px; }
.minus-16 { width: 16px; height: 16px; background-position: -116px -167px; }
.minus-32 { width: 32px; height: 32px; background-position: -33px -162px; }
.msg-16 { width: 20px; height: 16px; background-position: -133px -234px; }
.msg-32 { width: 41px; height: 32px; background-position: -116px -201px; }
.on-arrow-16 { width: 16px; height: 16px; background-position: -133px -167px; }
.on-arrow-32 { width: 32px; height: 32px; background-position: -66px -162px; }
.people-16 { width: 16px; height: 16px; background-position: -99px -179px; }
.people-32 { width: 32px; height: 32px; background-position: -156px -167px; }
.phone-16 { width: 16px; height: 16px; background-position: -139px -184px; }
.phone-32 { width: 32px; height: 32px; background-position: 0 -195px; }
.right-tip-16 { width: 16px; height: 16px; background-position: -99px -196px; }
.right-tip-32 { width: 32px; height: 32px; background-position: -33px -195px; }
.search-1-16 { width: 16px; height: 16px; background-position: -158px -200px; }
.search-1-32 { width: 32px; height: 32px; background-position: -66px -195px; }
.search-2-16 { width: 16px; height: 16px; background-position: -175px -200px; }
.search-2-32 { width: 32px; height: 32px; background-position: -158px -217px; }
.service-16 { width: 16px; height: 16px; background-position: -99px -213px; }
.service-32 { width: 32px; height: 32px; background-position: 0 -228px; }
.shop-cart-16 { width: 16px; height: 16px; background-position: -99px -230px; }
.shop-cart-32 { width: 32px; height: 32px; background-position: -33px -228px; }
.shop-cart-add-16 { width: 16px; height: 16px; background-position: -116px -234px; }
.shop-cart-add-32 { width: 32px; height: 32px; background-position: -66px -228px; }
.truck-16 { width: 22px; height: 16px; background-position: -116px -184px; }
.truck-32 { width: 45px; height: 32px; background-position: -33px 0; }